.quick-nav-action .add-place-button > b {
  margin-left: 4px;
}

.add-cook-button {
  transition: transform .2s, box-shadow .2s;
}

.add-cook-button:hover,
.add-cook-button:focus-visible {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #394321;
}
